# Source: https://github.com/arduino/tooling-project-assets/blob/main/workflow-templates/check-general-formatting-task.md
name: Check General Formatting

# See: https://docs.github.com/actions/reference/workflows-and-actions/events-that-trigger-workflows
on:
  create:
  push:
  pull_request:
  schedule:
    # Run every Tuesday at 8 AM UTC to catch breakage caused by changes to tools.
    - cron: "0 8 * * TUE"
  workflow_dispatch:
  repository_dispatch:

jobs:
  run-determination:
    runs-on: ubuntu-latest
    permissions: {}
    outputs:
      result: ${{ steps.determination.outputs.result }}
    steps:
      - name: Determine if the rest of the workflow should run
        id: determination
        run: |
          RELEASE_BRANCH_REGEX="refs/heads/[0-9]+.[0-9]+.x"
          # The `create` event trigger doesn't support `branches` filters, so it's necessary to use Bash instead.
          if [[
            "${{ github.event_name }}" != "create" ||
            "${{ github.ref }}" =~ $RELEASE_BRANCH_REGEX
          ]]; then
            # Run the other jobs.
            RESULT="true"
          else
            # There is no need to run the other jobs.
            RESULT="false"
          fi

          echo "result=$RESULT" >>$GITHUB_OUTPUT

  check:
    needs: run-determination
    if: needs.run-determination.outputs.result == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Set environment variables
        run: |
          # See: https://docs.github.com/actions/reference/workflows-and-actions/workflow-commands#setting-an-environment-variable
          echo "EC_INSTALL_PATH=${{ runner.temp }}/editorconfig-checker" >>"$GITHUB_ENV"

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Download latest editorconfig-checker release binary package
        id: download
        uses: MrOctopus/download-asset-action@1.1
        with:
          repository: editorconfig-checker/editorconfig-checker
          excludes: prerelease, draft
          asset: linux-amd64.tar.gz
          target: ${{ env.EC_INSTALL_PATH }}

      - name: Install editorconfig-checker
        run: |
          cd "${{ env.EC_INSTALL_PATH }}"

          tar \
            --extract \
            --file="${{ steps.download.outputs.name }}"

          # Give the binary a standard name
          mv \
            "${{ env.EC_INSTALL_PATH }}/bin/ec-linux-amd64" \
            "${{ env.EC_INSTALL_PATH }}/bin/ec"

          # Add installation to PATH:
          # See: https://docs.github.com/actions/reference/workflows-and-actions/workflow-commands#adding-a-system-path
          echo "${{ env.EC_INSTALL_PATH }}/bin" >>"$GITHUB_PATH"

      - name: Check formatting
        run: |
          go tool \
            github.com/go-task/task/v3/cmd/task \
              --silent \
              general:check-formatting
