name: Lint Python code

on:
  push:
    paths:
      - "**.py"
      - ".flake8"
      - "pyproject.toml"
      - "Taskfile.yml"
  pull_request:
    paths:
      - "**.py"
      - ".flake8"
      - "pyproject.toml"
      - "Taskfile.yml"

jobs:
  lint-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Taskfile
        uses: arduino/actions/setup-taskfile@master
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          version: 3.x

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install Poetry
        run: pip install poetry

      - name: Lint Python files
        run: task python:check
